.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App {
  background-image: url('../src/img1/imagee.jpg'); /* Adjust the path if needed */
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ensures the background covers the entire viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* Additional styles for content area, sidebar, etc. can be added here */
.content {
  padding: 20px; /* Example: Add padding to content */
}



.App-header {
  background-color: #062253;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #042657; 
  color: #fff; 
  font-family: Arial, sans-serif; 
}